React/simple-diary/public/*.ico
React/simple-diary/public/*.png
basic.js

# node moduls
React/simple-diary/node_modules/
React/simple-diary-review/node_modules/
React/React-exam1/node_modules/
React/Udemy-React-package-example/node_modules/

# ETC
JavaScript/async/
데이터분석-Python/